@import "tailwindcss";

@theme {
  /* Modulabs Theme Override (Blue -> Purple) */
  --color-blue-50: #faf5ff;
  --color-blue-100: #f3e8ff;
  --color-blue-200: #e9d5ff;
  --color-blue-300: #d8b4fe;
  --color-blue-400: #c084fc;
  --color-blue-500: #a855f7;
  --color-blue-600: #9333ea;
  --color-blue-700: #7e22ce;
  --color-blue-800: #6b21a8;
  --color-blue-900: #581c87;
  --color-blue-950: #3b0764;
}
